<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user-api/register" class="form" id="registrationForm">
    <h3>用户注册</h3>
    <label for="sign_email">
        <input id="sign_email" name="email" placeholder="请输入邮箱" required type="email"></label>
    <label for="sign_username">
        <input id="sign_username" name="username" placeholder="请输入用户名" required type="text"></label>
    <label for="sign_password">
        <input id="sign_password" name="password" placeholder="请输入密码" required type="password"></label>
    <label for="sign_confirmPassword">
        <input id="sign_confirmPassword" name="confirmPassword" placeholder="请再次输入密码" type="password"></label>
    <button type="submit">SIGN UP</button>
</form>
</body>
</html>